<div class="content">
  <h2>Graphics</h2>
  <h4>2018-31-10</h4>
  <p>
    Just type in a tag or multiple tags into the input field
    and all corresponding graphics will be listed one below the other.
  </p>

  <br>

  {{outlet}}
</div>
