<div class="content">
  <h2>Contents</h2>
  <h4>2018-25-10</h4>
  <p>
    Here you find a few of my produced graphics and programs I have developed over the years and in my tutorials!
    Many programs are open source, the code has been therefore released
    under an <a href="http://unlicense.org/">Unlicense-licence</a> such
    that you can use it even commercially without considering any conditions.
    Also, I have uploaded my second-class royalty free graphics
    under a <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0-licence</a>.
    So, have fun playing around with my creations!
  </p>
</div>