<div class="content">
  <h2>About Authors</h2>
  <p>
    I was born in the early 90s and interested in robots since 1996/1997.
    The reason therefore was presumably
    <a href="https://www.youtube.com/watch?v=TYerSLXmjQU" target="_blank">Robocop</a>,
    a classic <a href="https://en.wikipedia.org/wiki/Nintendo_Entertainment_System" target="_blank">NES</a> game
    character. 2000, my family get our first computer and then I wanted become a programmer to create my own games.
    Around 2008, we also get an internet connection. In this time I started with HTML and CSS, but also
    I got interested in creative photo and video editing software I've found in the internet:
  </p>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Adobe_After_Effects" target="_blank">Adobe After Effects</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Photoshop" target="_blank">Adobe Photoshop</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Adobe_Premiere_Pro" target="_blank">Adobe Premiere</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Vegas_Pro" target="_blank">Sony Vegas</a></li>
    <li>...</li>
  </ul>

  <br>

  <p>
    Sadly, the stuff was not for free, only 30 days trial versions. And so I get interested in
    open source programs and learned:
  </p>
  <ul>
    <li><a href="https://www.blender.org/" target="_blank">Blender 2.49</a></li>
    <li><a href="https://www.gimp.org/" target="_blank">Gimp 2.6</a></li>
    <li><a href="https://inkscape.org/" target="_blank">Incscape 0.47</a></li>
    <li>...</li>
  </ul>

  <br>

  <p>
    by the help of YouTube tutorials
    (e.g. <a href="https://www.youtube.com/channel/UC4HBuWzyB-J04WmTh3xQwHw" target="_blank">jxTutorials</a>)
    and sites like <a href="http://blenderhilfe.de" target="_blank">BlenderHilfe</a>,
    <a href="https://www.blenderguru.com/" target="_blank">Blender Guru</a>
    or Screencasters Heathenx which is sadly down now. I also produced my own YouTube tutorials
    during my school and study time, wrote programs and so on,
    but they were all not professional enough. In the last years I learned a lot.
    I want support great programming languages, better my presentation, programming and English skills
    and make computer science students especially in Germany great again. That is why especially basic tutorials
    are only available in German. I never liked the boring looking lecture slides and the way everything
    was explained in school. Often it was just teached how something had to be done, but not why it works.
    So, it was not understandable and thus just unnecessary memorization.
  </p>

  <br>
  <p>
    Ok, back to me. I started 2008 also a bit with programming languages and and
    my favourite free game <a href="https://en.wikipedia.org/wiki/TrackMania" target="_blank">Trackmania Nations Forever</a>.
    You think, I was just gaming, no it was the chance for me to get creative. I learned in that game
    a lot about keyframing, video editing, 3D modelling, graphics and I could also improve my English skills.
    All that stuff I learned during 2008-2011 had also great influence on this site and my motivation
    to study something with computers. 2015, I got a Bachelor degree in computer science with grade 1.8.
    In my thesis, I wrote a game-like visualization
    software in <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
    for path-finding algorithms. Visualization was always something, I was very interested in.
    Therefore, I've extended 2007 for the Bioinformatics Group in Freiburg, the RNA-Playground.
  </p>

  Alex Mattheis
</div>