<div class="content">
  <h2>That is my home</h2>
  <p>
    I'm kidding! What is this page about? It's a website for modern, interactive video tutorials.
    Mainly for computer science, but also maths and other stuff.
    Interactive means in this case, you watch a video or presentation
    and can play afterwards with the presented algorithm on this website.
    Additionally, you can also download free
    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank">CC0-licence</a>
    graphics, models, and fonts and get creative programming ideas in the creations section.
    Is this not cool?
  </p>

  <br>

  <b>I hope you really enjoy my page!</b>
</div>

